.btn{
    background-color: transparent;
    border:none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    transition: color .3s ease;
    &:hover{
        color: darken($color: $primary, $amount: 20);
    }
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }
}

.btn-block{
    width: 100%;
}